<button type="button" class="btn btn-outline-primary btn-sm col-sm-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Edit
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Product refresh</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="productName" class="form-label">Product name:</label>
                    <input formControlName="productName" type="text" name="productName" class="form-control" id="product-name" placeholder="Write here your product">
                    <div *ngIf="!productName?.valid && ( productName?.dirty || productName?.touched)">
                        <span *ngIf="productName?.errors?.['valid']">Kötelező a termék nevének megadása!</span>
                        <span *ngIf="productName?.errors?.['minlength']">A karakterek minimum száma 4db!</span>
                        <span *ngIf="productName?.errors?.['maxlength']">A karakterek maximum száma 50db!</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Price:</label>
                    <input formControlName="productPrice" type="number" name="productPrice" class="form-control" id="product-price" placeholder="Add here your product price">
                    <div *ngIf="!productPrice?.valid && ( productPrice?.dirty || productPrice?.touched)">
                        <span *ngIf="productPrice?.errors?.['valid']">Kötelező a termék árának megadása!</span>
                        <span *ngIf="productPrice?.errors?.['min']">A termék minimum értéke 100!</span>
                        <span *ngIf="productPrice?.errors?.['max']">A termék maximum értéke 10000!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" [disabled]="!editProductForm.valid" class="btn btn-primary">Refresh</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>